{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'reviews/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="height:2rem;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link nav-item-light" href="#">BATONY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-item-light" href="#">CZEKOLADY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-item-light" href="#">MASŁA ORZECHOWE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-item-light" href="#">ZERO KALORII</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-item-light" href="#">WEGAŃSKIE</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block header %}
        <header class="header">
            <div class="header-text-main">MOCNE ŻARCIE<br /></div>
            <div class="header-text">recenzje | e-sklep | społeczność</div>
        </header>  
    {% endblock header %}
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="home-image">🏠</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    RECENZJE
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">🍫 SŁODKOŚCI</a>
                    <a class="dropdown-item" href="#">🥨 PRZEKĄSKI</a>
                    <a class="dropdown-item" href="#">🥤 NAPOJE</a>
                    <a class="dropdown-item" href="#">🥗 GOTOWCE</a>
                <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">🔝 ZAPROPONUJ PRODUKT DO RECENZJI 🔝</a>
                </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PRZEPISY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">E-SKLEP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">KONTAKT</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="🔎" aria-label="Search" style="margin-right:2rem !important">
            </form>
        </div>
    </nav>

    {% block body %}{% endblock body%}

</body>
</html>