{% extends 'reviews/base.html' %}
{% load static %}

{% block title %}
    Mocne Żarcie - recenzje zdrowych (lub mniej) produktów
{% endblock title%}

{% block header %}
    <div class="home-header">
        <div class="header-text-main">MOCNE ŻARCIE<br /></div>
        <div class="header-text">recenzje | e-sklep | społeczność</div>
    </div>  
{% endblock header %}

{% block body%}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="home-content">
        <div class="posts">
            {% for post in posts %}
                <div class="post">
                    <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1><br />
                    {{ post.body | truncatewords:150}}<br /><br />
                </div>
            {% endfor %}

            <div class="pagination">
                {% if page_obj.has_previous %}
                    <span class="previous">
                        <a href="?page={{ page_obj.previous_page_number }}"><img src="static/reviews/images/left-arrow.png" alt="poprzedni" class="arrow" /></a>
                    </span>
                {% endif %}
                    <span class="current">
                        strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
                    </span>
                {% if page_obj.has_next %}
                    <span class="next">
                        <a href="?page={{ page_obj.next_page_number }}"><img src="static/reviews/images/right-arrow.png" alt="nastepny" class="arrow" /></a>
                    </span>
                {% endif %}
            </div>

        </div>

        <div class="sidebar">
            <img src="static/reviews/images/me-avatar.png" class="avatar-style"/><br /><br />
                <div class="short-description">
                    Miłośniczka zdrowego trybu życia, sportu i jedzenia.
                    Na co dzień recenzuję produkty zaliczane do szeroko pojmowanej grupy "fit żywności" - batony proteinowe, produkty zero kalorii, produkty bez cukru, gorzkie czekolady i wysokobiałkowe przekąski.<br /><br />

                    Nową częścią strony jest e-sklep, w którym można znaleźć polecane i sprawdzone przeze mnie produkty.
                    Ponadto "Mocne Żarcie" to cała fit społeczność - ludzie o podobnych pasjach, którzy wzajemnie sobie radzą, samodzielnie dokonują recenzji różnych produktów i nawzajem zachęcają się do aktywniejszego i zdrowszego życia.
                </div>
        </div>
    </div>
{% endblock body %}