{% extends 'reviews/base.html' %}
{% load static %}
{% block title %}
    Mocne Żarcie - Reviews of Healthy (or Less Healthy) Products
{% endblock title%}

{% block header %}
    <div class="home-header">
        <div class="header-text-main">MOCNE ŻARCIE<br /></div>
        <div class="header-text">reviews | e-shop | society</div>
    </div>  
{% endblock header %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="home-content">
        <div class="posts">
            {% for post in posts %}
                    <div class="post">

                        <div class="post-icons">
                            {% if user == post.author or user.is_staff or user.is_superuser %}
                                <a href="{% url 'app_reviews:update_review' post.pk %}">
                                    <ion-icon name="create-outline"></ion-icon>
                                </a>
                                <a href="{% url 'app_reviews:delete_review' post.pk %}">
                                    <ion-icon name="trash-outline" style="color:red;"></ion-icon>
                                </a>
                            {% endif %}
                        </div>
                        
                        <h1><a href="{{ post.get_absolute_url }}" class="post-title">{{ post.title }}</a></h1>
                        <a href="{{ post.category.get_absolute_url }}" class="category-name">{{ post.category.name|upper }}</a>
                        <span class="post-info">{{ post.author }} / {{ post.pub_date }}</span>

                        <div class="small-space"></div>
                        {{ post.body | truncatewords:150}}<br /><br />
                        <div class="small-space"></div>

                        {% for tag in post.tags.all %}
                            <a href="{% url 'app_reviews:tag' tag_name=tag %}" class="badge badge-secondary">
                                {{ tag|upper }}
                            </a>
                                {% if not forloop.last %}|{% endif %}
                        {% endfor %}

                        <div class="small-space"></div>
                    </div>
            {% endfor %}

            <div class="pagination">
                {% if page_obj.has_previous %}
                    <span class="previous">
                        <a href="?page={{ page_obj.previous_page_number }}">
                            <span class="arrow">
                                <ion-icon name="arrow-back-outline"></ion-icon>
                            </span>
                        </a>
                    </span>
                {% endif %}

                    <div class="current">
                        page {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
                    </div>

                {% if page_obj.has_next %}
                    <span class="next">
                        <a href="?page={{ page_obj.next_page_number }}">
                            <span class="arrow">
                                <ion-icon name="arrow-forward-outline" ></ion-icon>
                            </span>
                        </a>
                    </span>
                {% endif %}
            </div>
        </div>

        <div class="sidebar">
            <img src="/static/reviews/images/me-avatar.png" class="avatar-style"/><br />

                <div class="short-description">
                    Lover of healthy lifestyle, exercising and eating.
                    Normally I review products that can be associated with "fit food" like protein bars, zero calorie products, no sugar food, dark chocolates and high-protein snacks.<br /><br />

                    New section of the website is the e-shop where you can discover recommended products that I have mostly personally testes. 
                    Moreover, "Mocne Żarcie" is more than just a website - it's a big fitness society. It brings together people with similar passions who support each other, independently review many of products, and encourage each other to be active, fit and healthy. 
                </div>
        </div>
    </div>
{% endblock body %}