{% extends 'reviews/base.html' %}
{% load static %}

{% block title %}
    {{ post.title }} - review
{% endblock title %}

{% block header %}
    <div class="home-header">
        <div class="header-text-main">MOCNE ŻARCIE<br /></div>
        <div class="header-text">reviews of healthy (of less healthy) products</div>
    </div>  
{% endblock header %}

{% block body %}
    <div class="post-detail-content">
        <h1 class="post-title">{{ post.title }}</h1>
        {% if post.image %}
            <span class="post-image">
                <img src="{{ post.image.url }}">
            </span>
        {% endif%}
        <h4><span class="post-tags">DESCRIPTION  |  PRICE  |  AVAILABILITY  |  INGREDIENTS  |  TASTE TEST</span></h4>
        <span class="post-typo">{{ post.body | safe }}</span>
        <br /><br />
            {% for tag in post.tags.all %}
                <a href="{% url 'app_reviews:tag' tag_name=tag %}" class="badge badge-secondary">
                    {{ tag|upper }}
                </a>
                    {% if not forloop.last %}|{% endif %}
            {% endfor %}
    </div>
{% endblock body %}