{% extends 'reviews/base.html' %}
{% load static %}

{% block title %}
    {{ post.title }} - review
{% endblock title %}

{% block header %}
    <div class="home-header">
        <div class="header-text-main">MOCNE ŻARCIE<br /></div>
        <div class="header-text">reviews of healthy (of less healthy) products</div>
    </div>  
{% endblock header %}

{% block body %}

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message|safe }}
        </div>
    {% endfor %}
    {% endif %}

    <div class="post-detail-content">
        <h1 class="post-title">{{ post.title }}</h1>
        {% if post.image %}
            <span class="post-image">
                <img src="{{ post.image.url }}">
            </span>
        {% endif%}
        <h4><span class="post-tags">DESCRIPTION  |  PRICE  |  AVAILABILITY  |  INGREDIENTS  |  TASTE TEST</span></h4>
        <span class="post-typo">{{ post.body | safe }}</span>
        <br /><br />
            {% for tag in post.tags.all %}
                <a href="{% url 'app_reviews:tag' tag_name=tag %}" class="badge badge-secondary">
                    {{ tag|upper }}
                </a>
                    {% if not forloop.last %}|{% endif %}
            {% endfor %}
        
        {% if user.is_authenticated and user not in post.likes.all %}
            <form action="{% url 'app_reviews:like_post' post.id %}" method="POST">
                {% csrf_token %}
                <div class="likes-button">
                    <button type="submit" class="like"><ion-icon name="heart-circle-outline">Like</ion-icon></button>
                    <h5>{{ post_likes }}</h5>
                </div>
            </form>
        {% elif user.is_authenticated %}
            <form action="{% url 'app_reviews:like_post' post.id %}" method="POST">
                {% csrf_token %}
                <div class="likes-button">
                    <button type="submit" class="unlike like"><ion-icon name="heart-dislike-circle-outline">Unlike</ion-icon></button>
                    <h5>{{ post_likes }}</h5>
                </div>
            </form>
        {% else %}
            <div class="likes-button">
                <span class="like like-static"><ion-icon name="heart-circle-outline">Like</ion-icon></span>
                <h5>{{ post_likes }}</h5>
            </div>
        {% endif %}

        <div class="related-posts-container">
            <h6>YOU MAY ALSO LIKE</h6>
            <div class="related-posts-content">
                {% for related_post in related_posts %}
                    <span class="related-post">
                        {% if related_post.image %}
                            <img src="{{ related_post.image.url }}" alt="product image">
                        {% endif %}
                        <a href="{{ related_post.get_absolute_url }}">{{ related_post.title }}</a>
                    </span>
                {% endfor %}
            </div>
        </div>
        
        <div class="comments">
            <div class="title">
                Comments
                ({{ post.comment_counter }})
            </div>

            <div class="comment-form">
                <hr /><h5><strong>Leave your comment</strong></h5><hr />
                {% if user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.logged_user.id_for_label }}" class="comment-form-label">{{ form.logged_user.label }}</label> - 
                                <strong>{{ user }}</strong>
                        </div>
                        <div class="form-group">
                            {{ form.body }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.unlogged_user.id_for_label }}" class="comment-form-label">{{ form.unlogged_user.label }}</label>
                            {{ form.unlogged_user }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.email.id_for_label }}" class="comment-form-label">{{ form.email.label }}</label>
                                {{ form.email }}
                        </div>
                        <div class="form-group">
                            {{ form.body }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                {% endif %}
            </div>

            {% if comments %}
                {% for comment in comments %}
                    <div class="comment">
                        {% if comment.logged_user and comment.logged_user.username == 'admin'%}
                            <div class="author-admin">
                                {{ comment.logged_user}}
                            </div>
                        {% elif comment.logged_user %}
                            <div class="author">
                                {{ comment.logged_user}}
                            </div>

                            <div class="datetime">
                                {{ comment.pub_datetime|date:"Y-m-d" }} at {{ comment.pub_datetime|date:"H:i:s" }}
                            </div>
                        {% else %}
                            <div class="author">
                                {{ comment.unlogged_user }}
                            </div> 
                            <div class="datetime">
                                {{ comment.pub_datetime|date:"Y-m-d"}} at {{ comment.pub_datetime|date:"H:i:s" }}
                            </div>
                        {% endif %}
                            {{ comment.body }}
                            {% if not forloop.last %}
                                <hr class="comment-divider">
                            {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="info">
                    There are no comments for this post.
                </div>
            {% endif %}
        </div>

    </div>

{% endblock body %}