{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Delete Review
        {% endblock title %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'reviews/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
    <section class="form-delete-container">
        <form method="post" class="form-delete-review">
            <p class="form-delete-title"><h3>Deleting a review "{{ post.title }}"</h3></p>
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            {{ form }}
            <button type="submit" class="btn btn-outline-success" value="Confirm">Yes, delete</button>
            <a href="{% url 'app_reviews:detail_review' post.slug %}" class="btn btn-outline-danger">Cancel</a>
        </form>
    </section>
</body>

</html>