/* Variables */
:root {
    /* Fonts */
    --font-plustjakartasans: 'Plus Jakarta Sans', sanss-serif;
    /* Colors */
    --color-middleorange: rgba(242, 145, 19, 0.7);
    --color-orange: rgb(242, 145, 19);
    --color-lightorange: rgb(239, 195, 138);
    --color-white: #fff;
    --color-whitegrey: #f8f9fa;
    --color-lightgrey: #ccc;
    --color-dark-grey: #3d3f41;
    --color-medium-grey: #7a7f83;
    --color-black: #000;
    --color-visited-link: #800080;
    --color-blue: #027bff;
    --color-red-alert: #d12b22;
    --color-green-alert: rgb(30, 194, 30);
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    width: 100%;
    height: 15rem;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Typography */
.header-text-main {
    background-color: var(--color-middleorange);
    padding: 1rem;
    font: 4rem var(--font-plustjakartasans);
    font-weight: 900;
}

.header-text {
    font: 1.5rem var(--font-plustjakartasans);
    background-color: var(--color-middleorange);
    padding: 1rem;
}

.nav-link {
    font-weight: 700 !important;
    margin-right: 1rem;
}

.nav-item-light {
    font-size: 0.9rem;
    color: var(--color-lightorange) !important;
}

.nav-item-light:hover {
    color: var(--color-orange) !important;
}

/* Components */
.home-header {
    position: relative;
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/static/reviews/images/yoga-head-image.jpg');
    background-size: cover;
    background-position: center;
}

.home-image {
    margin-left: 20px;
    margin-right: 20px;
    font-size: larger;
}

.home-content {
    padding: 2rem 10rem;
    display: flex;
}

.home-content .post-title {
    display: inline-block;
    text-align: center;
    color: var(--color-black);
    font-weight: bolder;
}

.home-content .posts {
    width: 80%;
    padding-right: 5rem;
}

.home-content .post-info {
    display: block;
    text-align: center;
    color: var(--color-lightgrey);
    font-style: italic;
}

.home-content .category-name {
    display: block;
    text-align: center;
    font-weight: bolder;
    color: var(--color-orange);
    font-size: 1.1rem;
}

.home-content .posts .post {
    margin: 3rem auto;
    border-bottom: 0.2rem solid var(--color-lightgrey);
    padding-bottom: 1rem;
}

.pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination .current {
    text-align: center;
    font-weight: 500;
}

.pagination .arrow {
    color: var(--color-black);
    font-size: 1.3rem;
}

.pagination .arrow:hover {
    color: var(--color-orange);
}

.home-content .sidebar {
    max-width: 30%;
    padding-left: 2rem;
}

.avatar-style {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.short-description {
    text-align: justify;
    background-color: var(--color-orange);
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.post-detail-content {
    padding: 3rem 15rem;
}

.post-title {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.post-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-top: 0.2rem solid var(--color-lightgrey);
    border-bottom: 0.2rem solid var(--color-lightgrey);
    padding: 0.4rem;
}

.post-tags {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: 800;
}

.post-icons {
    display: flex;
    justify-content: center;
}

.post-icons ion-icon {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-add-container {
    margin: 2rem 18rem 3rem 18rem;
}

.form-add-review {
    margin: 2rem 2rem 0 2rem;
    padding: 2rem;
}

.form-add-border {
    border: 0.1rem solid var(--color-dark-grey);
    padding: 2rem;
}

.form-delete-title {
    display: flex;
    justify-content: left !important;
}

.form-delete-container {
    display: block;
    text-align: center;
    margin: 5rem 0;
}

.form-delete-review {
    margin: auto;
    width: 50%;
    padding: 2rem;
    border: 0.2rem double var(--color-dark-grey);
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-space {
    margin-bottom: 1rem;
}

.tags-content {
    padding: 3rem 15rem;
}

.comments {
    margin: 2rem 0 0;
}

.comments .title {
    align-items: center;
    justify-content: center;
    padding: 3rem 0 0rem 0.2rem;
    border-top: 0.1rem solid var(--color-lightgrey);
    color: var(--color-black);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: -0.5rem;
}

.comment {
    margin: 0 1.7rem;
}

.comment-form {
    margin: -1rem auto 1.5rem 1.5rem;
    padding: 2rem;
}

.comment-form-label {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-middleorange);
    margin-right: 0.8rem;
}

.comments .info {
    color: var(--color-lightgrey);
}

.comment .author-admin {
    color: var(--color-orange);
    font-weight: bolder;
}

.comment .author {
    color: var(--color-black);
    font-weight: bolder;
}

.comment .datetime {
    color: var(--color-lightgrey);
}

.comment-divider {
    border: 0.01rem solid var(--color-lightgrey);
}

.sidebar-widget {
    padding: 1.5rem 1.5rem 1.0rem 1.5rem;
    background-color: var(--color-whitegrey);
}

.sidebar-widget .title {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.sidebar-widget .single-post {
    display: block;
    text-decoration: none;
    color: var(--color-dark-grey);
    font-weight: 400;
    padding: 0.5rem 1.5rem;
}

.sidebar-widget .numeric {
    font-weight: 500;
}

.sidebar-widget .single-post:visited {
    color: var(--color-visited-link);
}

.sidebar-widget .single-post:hover {
    color: var(--color-orange);
}

.sidebar-comment {
    padding: 0.5rem;
}

.sidebar-comment .link {
    color: var(--color-orange);
}

.sidebar-widget .single-post:visited {
    color: var(--color-visited-link);
}

.sidebar-comment .link:hover {
    color: var(--color-blue);
    text-decoration: none;
}

.sidebar-comment .body {
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    color: var(--color-dark-grey);
}

.likes-button {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: -1rem;
    vertical-align: middle;
    font-size: 0.1rem;
}

.like-button {
    display: flex;
    color: var(--color-green-alert);
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 0.25rem;
    border-style: none;
    border-color: var(--color-dark-grey);
    background-color: transparent;
    margin: 0;
    padding: 0.3125rem 0.625rem;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.like-button:hover {
    background-color: var(--color-lightorange);
    border-color: var(--color-lightgrey);
}

.likes-button h5 {
    margin: 0;
    padding-left: 0.2rem;
    font-weight: bold;
}

.unlike-button {
    color: var(--color-red-alert);
}

.unlike-button:hover {
    background-color: var(--color-lightgrey);
}

.happy-icon {
    display: flex;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: transparent;
    padding: 0.3125rem 0.625rem;
}

.related-posts-container {
    display: block;
    margin: 5rem 0 3rem 0;
}

.related-posts-container h6 {
    background-color: var(--color-orange);
    font-weight: 600;
    color: var(--color-whitegrey);
    padding: 0.1rem;
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

.related-posts-content {
    display: inline-flex;
    max-width: 100%;
    justify-content: space-evenly;
    margin-top: 1rem;
    gap: 2rem;
}

.related-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem 0.5rem;
    background-color: var(--color-whitegrey);
    border: 0.1rem solid var(--color-orange);
    border-radius: 0.6rem;
    width: calc(33.33% - 2rem);
    margin: 1rem;
    box-sizing: border-box;
}

.related-post img {
    max-width: 100%;
    max-height: 8rem;
    margin: 0 auto;
}

.related-post a {
    color: var(--color-dark-grey);
    font-weight: 600;
    margin-top: 0.5rem;
}