/* Variables */
:root {
    /* Fonts */
    --font-plustjakartasans: 'Plus Jakarta Sans', sans-serif;
    /* Colors */
    --color-lightgrey: rgba(248, 249, 250, 0.7);
    --color-whitesmoke: #f5f5f5;
}

/* Global Styles */
/* * {
    margin: 0;
    padding: 0;
} */

.header {
    position: relative;
    width: 100%;
    height: 15rem;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Typography */
.header-text-main {
    background-color: var(--color-lightgrey);
    padding: 1rem;
    font: 4rem var(--font-plustjakartasans);
    font-weight: 900;
}

.header-text {
    font: 1.5rem var(--font-plustjakartasans);
    background-color: var(--color-lightgrey);
    padding: 1rem;
}

.nav-link {
    font-weight: 700 !important;
    margin-right: 1rem;
}

.nav-item-light {
    font-size: 0.9rem;
    color: #b1d1f2 !important;
}

.nav-item-light:hover {
    color: var(--color-whitesmoke) !important;
}

/* Components */
.home-header {
    position: relative;
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/static/reviews/images/yoga-head-image.jpg');
    background-size: cover;
    background-position: center;
}

.home-image {
    margin-left: 20px;
    margin-right: 20px;
    font-size: larger;
}