{% load static %}

<div class="title">
    Comments
    (<span class="comment-counter">{{ post.publication.comment_stats}}</span>)
</div>

<div class="comment-form">
    <hr /><h5><strong>Leave your comment</strong></h5><hr />
    <!-- Comment form for authenticated user -->
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.logged_user.id_for_label }}" class="comment-form-label">{{ form.logged_user.label }}</label> - 
                    <strong>{{ user }}</strong>
            </div>
            <div class="form-group">
                {{ form.body }}
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% else %}
        <!-- Comment form for unauthenticated user -->
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.unlogged_user.id_for_label }}" class="comment-form-label">{{ form.unlogged_user.label }}</label>
                {{ form.unlogged_user }}
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}" class="comment-form-label">{{ form.email.label }}</label>
                    {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.body }}
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% endif %}
</div>