{% if user.is_authenticated %}
<!-- Post like form for authenticated user-->
<form action="{% url 'blog:like_post' post.id %}" method="POST" class="like-form">
    {% csrf_token %}
        <div class="likes-button">
            <button type="submit" name="like-btn" value="{{ post.pk }}" class="like {% if user in post.likes.all %} unlike {% endif %}">
                <ion-icon name="heart-circle-outline">
                Like</ion-icon>
            </button>
            <h5>{{ likes_stats_display|default:post_likes }}</h5>
        </div>

</form>

<!-- Display likes for unauthenticated user -->
{% else %}
    <div class="likes-button">
        <span class="like disabled"><ion-icon name="heart-circle-outline">Like</ion-icon></span>
        <h5>{{ post_likes }}</h5>
    </div>
{% endif %}