coverage==7.2.7
factory-boy==3.3.0
Faker==19.2.0
flake8-isort==6.1.1
flake8==7.0.0
mypy==1.7.1
mypy-extensions==1.0.0
types-pytz==2023.3.1.1
types-PyYAML==6.0.12.12
typing_extensions==4.8.0
pylint-django==2.5.5
django-stubs==4.2.7
