{% extends 'registration/base.html' %}
{% load static %}

{% block title %}Change Your Password{% endblock %}

{% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}

{% block form %}
    <div class="change-password-container">
        <h1 class="header-text">Change your password:</h1>
        <br />
        <form class="form-register" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-field">
                <h6 class="form-field-label">{{ field.label | upper }}:</h6>{{ field }}
            </div>
            {% endfor %}
            <br />
            
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            {{ error }}
                            <br />
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            <button type="submit" class="btn btn-success btn-lg ">Submit</button>
            <a href="{% url 'blog:home' %}" class="btn btn-danger btn-lg">Cancel</a>
        </form>
    </div>
    
{% endblock form %}

{% block scripts %}
    {{ block.super }}
{% endblock %}