{% extends "registration/base.html" %}
{% load static %}

{% block title %}Password change successful{% endblock %}

{% block form %}
    <div class="change-password-container">
        <img src={% static 'accounts/images/confirmation.png' %} />
        <br /><br />
        <h2 class="header-text">Success!</h2>
        <p class="subheader-text">Your password has been changed successfully.</p>
        <a href="{% url 'app_accounts:login' %}" class="btn btn-info btn-lg btn-block">LOG IN</a>
        <p class="change-password-comment">Or just come back to the <a href="{% url 'app_reviews:home' %}">homepage</a>..</p>
    </div>
{% endblock form %}

{% block scripts %}
    {{ block.super }}
{% endblock %}