{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} - Reviews of Healthy (or Less Healthy) Products
{% endblock title%}

<!-- Header -->
{% block header %}
    <div class="home-header">
        <div class="header-text-main">MOCNE ŻARCIE<br /></div>
        <div class="header-text">reviews | e-shop | society</div>
    </div>  
{% endblock header %}

{% block body %}
    <!-- Messages section -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="home-content">
        <div class="posts">
            <!-- Loop through all posts -->
            {% for post in posts %}
                    <div class="post">
                        <!-- Modify post buttons for authorized users -->
                        <div class="post-icons">
                            {% if user == post.author or user.is_staff or user.is_superuser %}
                                <!-- Update post icon -->
                                <a href="{% url 'blog:update_review' post.pk %}">
                                    <ion-icon name="create-outline"></ion-icon>
                                </a>
                                <!-- Delete post icon -->
                                <a href="{% url 'blog:delete_review' post.pk %}">
                                    <ion-icon name="trash-outline" style="color:red;"></ion-icon>
                                </a>
                            {% endif %}
                        </div>
                        
                        <!-- Post title -->
                        <h1><a href="{{ post.get_absolute_url }}" class="post-title">{{ post.title }}</a></h1>
                        <!-- Category name -->
                        <a href="{{ post.category.get_absolute_url }}" class="category-name">{{ post.category.name|upper }}</a>
                        <!-- Post info -->
                        <span class="post-info">{{ post.author }} / {{ post.pub_date }} 
                            <!-- Comment stats -->
                            {% if post.comment_stats == 1 %}
                                / {{ post.comment_stats }} comment
                            {% else %}
                                / {{ post.comment_stats }} comments
                            {% endif %}
                        </span> 

                        <!-- Post body -->
                        <div class="small-space"></div>
                        <div class="post-detail-body">
                            {{ post.body | truncatewords:150}}<br /><br />
                        </div>
                        <div class="small-space"></div>
                        
                        <!-- Post tags -->
                        {% for tag in post.tags.all %}
                            <a href="{% url 'blog:tag' slug=tag.slug %}" class="badge badge-secondary">
                                {{ tag|upper }}
                            </a>
                                {% if not forloop.last %}|{% endif %}
                        {% endfor %}

                        <div class="small-space"></div>
                    </div>
            {% endfor %}
            
            <!-- Pagination section -->
            <div class="pagination">
                <span class="previous">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">
                            <span class="arrow"><ion-icon name="arrow-back-outline"></ion-icon></span>
                        </a>
                    {% endif %}
                </span>
                    <span class="current">
                        page {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
                    </span>
                <span class="next">
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">
                            <span class="arrow"><ion-icon name="arrow-forward-outline"></ion-icon></span>
                        </a>
                    {% endif %}
                </span>
            </div>
        </div>

        <!-- Sidebar section -->
        <div class="sidebar">
            <!-- About author -->
            <img src={% static 'blog/images/me-avatar.png' %} class="avatar-style"/><br />

            <div class="short-description">
                Lover of healthy lifestyle, exercising and eating.
                Normally I review products that can be associated with "fit food" like protein bars, zero calorie products, no sugar food, dark chocolates and high-protein snacks.<br /><br />

                New section of the website is the e-shop where you can discover recommended products that I have mostly personally testes. 
                Moreover, "Mocne Żarcie" is more than just a website - it's a big fitness society. It brings together people with similar passions who support each other, independently review many of products, and encourage each other to be active, fit and healthy. 
            </div>

            <!-- Most popular posts -->
            <div class="sidebar-widget">
                <span class="title">Most popular</span>
                    <ol>
                    {% for post in popular_posts %}
                        <a href="{{ post.get_absolute_url }}" class="single-post">
                            <li>{{ post.title }}</li>
                        </a>
                    {% endfor %}
                    </ol>
            </div>
            <br />
            <!-- Recent comments -->
            <div class="sidebar-widget">
                <span class="title">Recent comments</span>
                    {% for comment in recent_comments %}
                        <div class="sidebar-comment">
                            <span class="icon"><ion-icon name='person'></ion-icon></span>
                            {% if comment.logged_user %}
                                <span class="author"><strong>{{ comment.logged_user }}</strong> on </span>
                                <a href="{{ comment.post.get_absolute_url }}" class="link">
                                    {{ comment.post }}
                                </a>
                            {% endif %}
                            {% if comment.unlogged_user %}
                                <span class="author"><strong>{{ comment.unlogged_user }}</strong> on </span>
                                <a href="{{ comment.post.get_absolute_url }}" class="link">
                                    {{ comment.post }}
                                </a>
                            {% endif %}
                            <div class="body">
                                {{ comment.body }}
                            </div>
                        </div>
                    {% endfor %}
            </div>

        </div>
    </div>
{% endblock body %}

{% block scripts %}
    {{ block.super }}
{% endblock scripts %}