{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ post.title }} | {{ block.super}}
{% endblock title %}

<!-- Scripts -->
{% block scripts %}
    {{ block.super }}
    <!-- Additional scripts for specific subtemplate -->
    <script defer src="{% static 'blog/js/like_review.js' %}"></script>
    <script defer src="{% static 'blog/js/comment_reply.js' %}"></script>
    <script defer src="{% static 'blog/js/comment_edit.js' %}"></script>
    <script defer src="{% static 'blog/js/comment_delete.js' %}"></script>
    <script defer src="{% static 'blog/js/comment_counter_update.js' %}"></script>
{% endblock scripts %}

<!-- Header -->
{% block header %}
    <div class="home-header">
        <div class="header-text-main">MOCNE ŻARCIE<br /></div>
        <div class="header-text">reviews of healthy (of less healthy) products</div>
    </div>  
{% endblock header %}

{% block body %}
    <!-- Messages section -->
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message|safe }}
        </div>
    {% endfor %}
    {% endif %}

    <div class="post-detail-content">

        <!-- Modify post buttons for authorized users -->
        <div class="post-icons">
            {% if user == post.author or user.is_staff or user.is_superuser %}
                <!-- Update post icon -->
                <a href="{% url 'blog:update_review' post.pk %}">
                    <ion-icon name="create-outline"></ion-icon>
                </a>
                <!-- Delete post icon -->
                <a href="{% url 'blog:delete_review' post.pk %}">
                    <ion-icon name="trash-outline" style="color:red;"></ion-icon>
                </a>
            {% endif %}
        </div>
        
        <!-- Post info -->
        <h1 class="post-title">{{ post.title }}</h1>
        {% if post.image %}
            <span class="post-image">
                <img src="{{ post.image.url }}">
            </span>
        {% endif %}
        <h4><span class="post-tags">DESCRIPTION  |  PRICE  |  AVAILABILITY  |  INGREDIENTS  |  TASTE TEST</span></h4>
        <span class="post-typo post-detail-body">{{ post.body | safe }}</span>
        <br /><br />
            <!-- Post tags -->
            {% for tag in post.tags.all %}
                <a href="{% url 'blog:tag' slug=tag.slug %}" class="badge text-bg-secondary">
                    {{ tag|upper }}
                </a>
                    {% if not forloop.last %}|{% endif %}
            {% endfor %}
        <!-- Likes -->
        <div class="like-section">
            {% include 'blog/includes/like_section.html' %}
        </div>
        <!-- Related posts -->
        {% if related_posts %}
            <div class="related-posts-container">
                <h6>YOU MAY ALSO LIKE</h6>
                <div class="related-posts-content">
                    {% for related_post in related_posts %}
                        <span class="related-post">
                            {% if related_post.image %}
                                <img src="{{ related_post.image.url }}" alt="product image" style="width: 200rem;">
                            {% endif %}
                            <a href="{{ related_post.get_absolute_url }}">{{ related_post.title }}</a>
                        </span>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <br />
        {% endif %}
        <!-- Comment section -->
        <div class="comments">
            {% include 'blog/includes/comment_form.html' %}
            {% include 'blog/includes/comment_list.html' %}
        </div>

    </div>
{% endblock body %}