{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Delete a post with fit food review on Mocne Żarcie platform." />
    <meta name="author" content="olczi095" />
    <title>
        {% block title %}Delete Review{% endblock title %}
    </title>
    <!-- Main website icon -->
    <link rel="shortcut icon" href="{% static 'images/search-heart-fill.svg' %}" />
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <!-- Core theme CSS (includes Bootstrap) -->
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Google font styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap">
</head>

<body class="body-background">  
    <section class="form-delete-container">
        <form method="post" class="form-delete-review">
            <p class="form-delete-title "><h3 class="post-modify-title">Deleting a review "{{ post.title }}"</h3></p>
            {% csrf_token %}
            <p class="post-detail-body">Are you sure you want to delete "{{ object }}"?</p>
            {{ form }}
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-success" value="Confirm">Yes, delete</button>
            <!-- Cancel button -->
            <a href="{% url 'blog:detail_review' post.slug %}" class="btn btn-outline-danger">Cancel</a>
        </form>
    </section>
    
    {% block scripts %}
        <!-- External scripts-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- Internal scripts -->
        <script src="{% static 'blog/js/darkmode_toggle.js' %}"></script>
    {% endblock scripts %}
    
</body>

</html>