{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} - tags
{% endblock title %}

{% block scripts %}{{ block.super }}{% endblock scripts %}

{% block header %}
    <!-- Header -->
    <div class="home-header">
        <div class="header-text-main">MOCNE ŻARCIE<br /></div>
        <div class="header-text">all tags</div>
    </div>  
{% endblock header %}

{% block body %}
    <h4><div class="tags-content">
        <!-- Loop through the tags -->
        {% for tag in tags %}
        <a href="{% url 'blog:tag' tag_slug=tag.slug %}" class="badge text-bg-secondary">
            {{ tag|upper }}
        </a>
        {% endfor %}
    </div></h4>
{% endblock body %}