{% extends 'registration/base.html' %}
{% load static %}

{% block title %}
    Login to {{ block.super }} - {{ block.super }}
{% endblock title %}

{% block form %}
    <section class="form-container">
        <img src={% static 'accounts/images/cinamon.jpg' %} class="form-image" />    
        <form class="form-login" method="post" action={% url 'accounts:login' %}>
            {% csrf_token %}
            <h2>Log In</h2>
            <br />
                {% for field in form %}
                <div class="form-field">
                    <h6><span class="login-label">{{ field.label | upper }}:</span></h6>{{ field }}
                </div>
                {% endfor %}
            <br />
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Log In!</button>
            <br />
        <p class="account-link">
            Need an account? → 
            <a href="{% url 'accounts:register' %}">Join us!</a>
        </p>  
        <p class="account-link">
            Need to reset you password? → 
            <a href={% url 'accounts:password_reset' %}>Reset it here!</a>
        </p>
        </form>
    </section>
{% endblock form %}

{% block scripts %}
    {{ block.super }}
{% endblock %}