{% extends 'registration/base.html' %}
{% load static %}

{% block title%}
    Join MocneŻarcie | Mocne Żarcie
{% endblock %}

{% block form %}
    <form class="form-register" method="post" action={% url 'app_accounts:register' %}>
        {% csrf_token %}
        <h2>Registration</h2>
            {% for field in form %}
            <div class="form-field">
                {% if field.label != 'First name' and field.label != 'Last name' %}
                    {% if field.label == 'Password confirmation' %}
                        <p class="form-oneline"><h6>CONFIRM<br />PASSWORD:</h6></p>{{ field }}
                    {% else %}
                        <h6>{{ field.label | upper }}:</h6> {{ field }}
                    {% endif %}
                {% else %}
                    <p class="not-required">{{ field.label }}:</p>{{ field }}
                {% endif %}
            </div>
            {% endfor %}
        <br />
        <button type="submit" class="btn btn-secondary btn-lg btn-block">Sign up!</button>
        <br />
    <p class="account-link">
        Do you already have an account? → 
        <a href="{% url 'app_accounts:login' %}">Login!</a>
    </p>    
    </form> 
{% endblock form %}