{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{{ category.name }} | {{ block.super }}{% endblock title %}

{% block scripts %}{{ block.super }}{% endblock scripts %}

{% block header %}
    <div class="header">
        <header class="py-5">
            <div class="header-text-main header-category-main">{{ category.name|upper }}<br /></div>
        </header>
    </div>
{% endblock header %}

{% block body %}
    <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <!-- Loop through the products -->
            {% for product in products %}
                <div class="col mb-5">
                    <div class="card card-product-body h-100">
                        <!-- Product image-->
                        {% if product.image and product.image.url %}
                            <img class="card-img-top" src="{{ product.image.url }}" alt="Main photo of the product for sale." />
                        {% else %}
                            <img class="card-img-top" src="{% static 'shop/images/default_product_image.png' %}" alt="Main photo of the product for sale." />
                        {% endif %}
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder card-product-title">{{ product.name }}</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price -->
                                {% if product.is_on_sale %}
                                    <div class="badge text-bg-warning custom-product-bg position-absolute">SALE</div>
                                    <span class="old-price"><strike>{{ product.price }}</strike></span>
                                    <span class="card-product-price">{{ product.sale_price }} PLN</span>
                                {% else %}
                                    <span class="card-product-price">{{ product.price }} PLN</span>
                                {% endif %}
                                <!-- Product unavailable badge -->
                                {% if not product.available %}
                                    <div class="badge text-bg-secondary custom-product-bg position-absolute">Temporarily out of stack</div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="row align-items-center justify-content-center pe-3 ps-3">
                                <!-- Add to cart section -->
                                {% if product.quantity %}
                                    <div class="col-md-4 text-end pe-md-2">
                                        <input class="form-control mb-2 mb-md-0" type="num" min="0" max="{{ product.quantity }}" value="1">
                                    </div>
                                    <div class="col-md-8 text-start ps-md-2">
                                        <button class="btn btn-outline-dark mt-0 mt-md-auto w-100 btn-add-product" href="#">Add to cart</button>
                                    </div>
                                {% else %}
                                    <div class="col-md-4 text-end pe-md-2">
                                        <input class="btn-secondary form-control mb-2 mb-md-0" style="cursor: not-allowed" type="num" value="1" disabled>
                                    </div>
                                    <div class="col-md-8 text-start ps-md-2">
                                        <button class="btn btn-secondary mt-0 mt-md-auto w-100" style="cursor: not-allowed" disabled>Add to cart</button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>                         
                                             
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    </section>
{% endblock body %}

{% block footer %}
    {{ block.super }}
{% endblock footer %}