<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" id="lower-navbar-shop" style="height:2rem;">
<div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#lowerNavbar" aria-controls="lowerNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="lowerNavbar">
        <ul class="navbar-nav mr-auto">
            <!-- Loop through all categories -->
            {% for product_category in product_categories %}
                <li class="nav-item">
                    <a class="nav-link nav-item-light" href="{% url 'shop:category_product_list' product_category.slug %}">
                        {{ product_category.name|upper }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
</nav>
