<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar-accounts">
    <div class="home-image"><a href="{% url 'blog:home' %}">🏠</a></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'blog:home' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    REVIEWS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'blog:tags' %}"><strong>ALL TAGS</strong></a>
                    <div class="dropdown-divider"></div>
                    {% for tag in navbar_tags %}
                        {% if tag == 'sweets' %}
                            <a class="dropdown-item" href="{% url 'blog:tag' tag %}">🍫 {{ tag }}</a>
                        {% elif tag == 'snacks' %}
                            <a class="dropdown-item" href="{% url 'blog:tag' tag %}">🥨 {{ tag }}</a>
                        {% elif tag == 'drinks' %}
                            <a class="dropdown-item" href="{% url 'blog:tag' tag %}">🥤 {{ tag }}</a>
                        {% elif tag == 'ready-to-eat' %}
                            <a class="dropdown-item" href="{% url 'blog:tag' tag %}">🥗 {{ tag }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if request.user.is_author or request.user.is_superuser %}
                        <div class="dropdown-divider"></div>
                        <span class="dropdown-item for-authors-item"><strong>FOR AUTHORS</strong></span>
                        <a class="dropdown-item" href="{% url 'blog:create_review' %}">🖋️ create a review</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">🔝 SUBMIT YOUR PRODUCT FOR REVIEW 🔝</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">RECIPES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'shop:product_list' %}">SHOP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CONTACT</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="🔎" aria-label="Search" style="margin-right:2rem !important">
        </form>
        
        <!-- Dark/Light change styles toggle -->
        <div id="style-mode-toggle">
            <i class="bi bi-moon-fill toggle-moon-button" id="moon-button-accounts"></i>
            <i class="bi bi-brightness-high toggle-sun-button" id="sun-button-accounts" style="display:none;"></i>
        </div>
    </div>
</nav>