<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="home-image"><a href="{% url 'app_reviews:home' %}">🏠</a></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                REVIEWS
                </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">🍫 SWEETS</a>
                <a class="dropdown-item" href="#">🥨 SNACKS</a>
                <a class="dropdown-item" href="#">🥤 DRINKS</a>
                <a class="dropdown-item" href="#">🥗 READY-TO-EAT</a>
            <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">🔝 SUBMIT YOUR PRODUCT FOR REVIEW 🔝</a>
            </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">RECIPES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">SHOP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CONTACT</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="🔎" aria-label="Search" style="margin-right:2rem !important">
        </form>
    </div>
</nav>