{% load static %}

<div id="comment-{{ comment.id }}" class="comment" style="--level: {{ comment.level }}" data-level="{{ comment.level }}">

    {% if comment.logged_user and comment.logged_user.is_staff %}
        <div class="author-admin">
            {{ comment.logged_user}}
        </div>
        <div class="datetime">
            {{ comment.pub_datetime|date:"Y-m-d" }} at {{ comment.pub_datetime|date:"H:i:s" }}
        </div>

    {% elif comment.logged_user %}
        <div class="author">
            {{ comment.logged_user}}
        </div>
        <div class="datetime">
            {{ comment.pub_datetime|date:"Y-m-d" }} at {{ comment.pub_datetime|date:"H:i:s" }}
        </div>

    {% else %}
        <div class="author">
            {{ comment.unlogged_user }}
        </div> 
        <div class="datetime">
            {{ comment.pub_datetime|date:"Y-m-d"}} at {{ comment.pub_datetime|date:"H:i:s" }}
        </div>

    {% endif %}
    {{ comment.body }}
    <br />

    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}

            <div class="modify-comment-buttons">
                <!-- button and form for editing a comment; default doesn't display -->
                <button type="button" 
                        class="modify-comment-button edit-comment-button" 
                        data-comment-id="{{ comment.id }}"
                >
                    <ion-icon name="create-outline"></ion-icon>
                </button>

                <!-- delete comment button -->
                <button type="submit" 
                        class="modify-comment-button delete-comment-button"
                        hx-delete="{% url 'app_reviews:delete_comment' comment.pk %}"
                        hx-swap="outerHTML"
                        hx-target="#comment-{{ comment.id }}"
                        hx-confirm="Are you sure you want to delete this comment?"
                        hx-trigger="click"
                >
                    <ion-icon name="trash-outline"></ion-icon>
                </button>
            </div>

            <!-- form for editing a comment; default doesn't display -->
            <div class="comment-edit-form" id="commentFormEdit{{ comment.id }}" style="display:none;">
                {% include 'reviews/includes/comment_form_edit.html' %}
            </div>

        {% elif request.user.is_staff %}
            {% if not comment.logged_user.is_staff and not comment.logged_user.is_superuser or comment.logged_user == request.user %}
                
                <div class="modify-comment-buttons">
                    <!-- edit comment button -->
                    <button type="button" 
                            class="modify-comment-button edit-comment-button" 
                            data-comment-id="{{ comment.id }}"
                    >
                        <ion-icon name="create-outline"></ion-icon>
                    </button>

                    <!-- delete comment button -->
                    <button type="submit" 
                            class="modify-comment-button delete-comment-button"
                            hx-delete="{% url 'app_reviews:delete_comment' comment.pk %}"
                            hx-swap="outerHTML"
                            hx-target="#comment-{{ comment.id }}"
                            hx-confirm="Are you sure you want to delete this comment?"
                            hx-trigger="click"
                    >
                        <ion-icon name="trash-outline"></ion-icon>
                    </button>
                </div>
                
                <!-- form for editing a comment; default doesn't display -->
                <div class="comment-edit-form" id="commentFormEdit{{ comment.id }}" style="display:none;">
                    {% include 'reviews/includes/comment_form_edit.html' %}
                </div>
                
            {% endif %}
            
        {% endif %}
    {% endif %}

    <button type="button" class="comment-reply-button">Reply</button>

    <!--form for adding a reply; default doesn't display-->
    <div class="comment-reply-form" id="commentFormReply" style="display: none;">
        {% include 'reviews/includes/comment_form_reply.html'%}
    </div>

    <!--displaying all replies for a particular comment-->
    {% for reply in comment.active_replies %}
        {% include 'reviews/includes/comment_detail.html' with comment=reply %}
    {% endfor %}

    {% if comment.level == 1 and not forloop.last %}
        <hr class="comment-divider">
    {% endif %}  
</div>
