{% if user.is_authenticated %}
<form action="{% url 'app_reviews:like_post_redirect' post.id %}" method="POST" class="like-form">
    {% csrf_token %}
        <div class="likes-button">
            <button type="submit" name="like-btn" value="{{ post.pk }}" class="like"><ion-icon name="heart-circle-outline">Like</ion-icon></button>
            <h5>{{ likes_counter|default:post_likes }}</h5>
        </div>

</form>

{% else %}
    <div class="likes-button">
        <span class="like disabled"><ion-icon name="heart-circle-outline">Like</ion-icon></span>
        <h5>{{ post_likes }}</h5>
    </div>
{% endif %}