/* Variables */
:root {
    --color-beige: #fee9cc;
    --color-dark-grey: #3d3f41;
    --color-red-alert: #D0342C;
}

/* Styles */
* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 4rem auto;
    display: flex;
    justify-content: center;
}

.form-container {
    width: 50rem;
    height: 70vh;
    margin: auto auto;
    background-color: var(--color-beige);
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: ridge;
}

.reset-password-container {
    display: block;
    text-align: center;
    margin: auto 2rem;
}

.form-register {
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto auto auto 0;
}

.form-field {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    padding: 0.2rem;
    width: 100%;
    align-items: center;
}

.form-field label {
    flex: 0 0 30%;
    margin-right: 2rem;
    text-align: left;
}

.form-field input,
.form-field select {
    flex: 1;
    margin-left: 2rem;
    width: 100%;
}

.form-error-message {
    color: var(--color-red-alert);
    font-weight: 500;
}

.not-required {
    font-style: italic;
    font-weight: 200;
    color: var(--color-dark-grey);
}

.home-image {
    margin-left: 20px;
    margin-right: 20px;
    font-size: larger;
}

.nav-link {
    font-weight: 700 !important;
    margin-right: 1rem;
}